:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.task-list-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}



@media (max-width:768px) {
    .section-container {
        align-items: flex-start;
    }
}