:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.input-container {
    display: flex;
}

.add-new-task-input {
    width: 100%;
    border-color: blue;
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
}

@media (max-width:768px) {
    .input-container {
        align-items: center;
        flex-direction: column;
    }

    .add-new-task-input {
        padding: 1rem 0 1rem 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}