/* You can add global styles to this file, and also import other style files */


.section-teaser {
    font-size: 3rem;
    font-family: 'Helvetica';
    color: #0369B0;
}




@media (max-width:768px) {
    .section-teaser {
        font-size: 2rem;
    }
}